<!DOCTYPE html>
<html>
<head>
  <title>Formularz</title>
</head>
<body>
  <div class="form-container">
    <form action="/" method="post">
      <label for="name">Ilość:</label>
      <input type="text" id="Ilość" name="Ilość" required>
      <label for="currency">Wybierz walutę:</label>
      <select id="currency" name="currency">
        <option value="USD">USD</option>
        <option value="EUR">EUR</option>
        <option value="AUD">AUD</option>
        <option value="CAD">CAD</option>
        <option value="HUF">HUF</option>
        <option value="CHF">CHF</option>
        <option value="GBP">GBP</option>
        <option value="JPY">JPY</option>
        <option value="CZK">CZK</option>
        <option value="DKK">DKK</option>
        <option value="NOK">NOK</option>
        <option value="SEK">SEK</option>
        <option value="XDR">XDR</option>
      </select>
      <button type="submit">Prześlij</button>
    </form>
    
</body>
</html>